.sidebar .nav-collapse, .sidebar[data-background-color=white] .nav-collapse {    
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;    
}

p {
    margin-bottom: 0px !important;
}